<%- include('partials/header') %>

<section class="checkout">
    <form id="payment-form" action="/payment/initiate" method="POST">
        <div class="check-inner">
            <div class="checkout-info">
                
                    <fieldset class="c-edit-body bord">
                        <legend>Personal Details</legend>

                        <div>
                            <p>Name</p>
                            <div class="flex-c gap05">
                                <input type="text" name="first_name" placeholder="First name" value="<%= user.first_name || '' %>"/>
                                <input type="text" name="last_name" placeholder="Last name" value="<%= user.last_name || '' %>"/>
                            </div>
                        </div>

                        <div class="c">
                            <p>Email</p>
                            <input type="text" name="email" value="<%= user.email || '' %>"/>
                        </div>

                        <div>
                            <p>Contact</p>
                            <input type="number" name="phone" value="<%= user.phone || '' %>"/>
                        </div>
                    </fieldset>
                
                <fieldset class="delivery-type bord">
                    <legend>Delivery Details</legend>
                    
                    <label style="padding: 0;" class="bord" for="pickup">
                        <input type="radio" id="pickup" name="delivery_type" value="pickup" hidden checked/>
                        <p style="margin: 1rem 1rem 0 1rem ;">Pickup at store</p>
                        <p style="font-size: 10px; margin: 0 1rem;"><em>Available at the store upon payment completion</em></p>
                        <div>
                            <p><span class="psha">Store Address:</span> new jerusalem plaza, no.4 makoko avenue, ago palace, lagos.</p>
                        </div>
                    </label>

                    <!-- Delivery Within Lagos -->
                    <label style="padding: 0;" class="bord" for="within_lagos">
                        <input type="radio" id="within_lagos" name="delivery_type" value="within_lagos" hidden/>
                        <p style="margin: 1rem 1rem 0 1rem ;">Delivery within Lagos, Nigeria.</p>
                        <p style="font-size: 10px; margin: 0 1rem;"><em>Delivery within 48hrs of purchase</em></p>
                        <div>
                            <p class="psha" >Select Pickup</p>
                            <select name="within_lagos_location" id="within_lagos_location">
                                <option value="">-- Select Location --</option>
                                <option>Location1</option>
                                <option>Location2</option>
                                <option>Location3</option>
                                <option>Location4</option>
                                <option>Location5</option>
                                <option>Location6</option>
                            </select>
                        </div>
                    </label>

                    <!-- Delivery Outside Lagos -->
                    <label style="padding: 0;" class="bord" for="outside_lagos">
                        <input type="radio" id="outside_lagos" name="delivery_type" value="outside_lagos" hidden/>
                        <p style="margin: 1rem 1rem 0 1rem ;">Delivery Outside Lagos, Nigeria.</p>
                        <p style="font-size: 10px; margin: 0 1rem;"><em>Available at the store upon payment completion</em></p>
                        <div>
                            
                            <div class="user-address" style="border: none; padding: 0;">
                                <p class="psha">Shipping Address</p>
                                <div class="flex-sb-c">
                                    <div>
                                        <label for="country">Country</label>
                                        <input type="text" id="country" name="country" value="<%= user.country || '' %>"/>
                                    </div>
                                    <div>
                                        <label for="state">State</label>
                                        <input type="text" id="state" name="state" value="<%= user.state || '' %>"/>
                                    </div>
                                    <div>
                                        <label for="city">City</label>
                                        <input type="text" id="city" name="city" value="<%= user.city || '' %>"/>
                                    </div>
                                </div>
                                <div>
                                    <label for="address">Address</label>
                                    <input type="text" id="address" name="address" placeholder="street, no" value="<%= user.address || '' %>"/>
                                </div>
                                <div class="flex-c gap05" style="margin-top: 1rem;">
                                    <input type="checkbox" id="is_save" name="is_save"/>
                                    <p style="font-size: 12px; color: var(--color-primary-dark);">Update address as your profile shipping address</p>
                                </div>
                            </div>
                        </div>
                    </label>

                </fieldset>
                
                <div class="Payment-method bord">
                    <h4>Payment Method</h4>

                    <label>
                        <div class="bord flex-c gap1">
                            <input type="radio" />
                            <div class="flex-sb-c pm">
                                <span>
                                    <p>Pay with Card</p>
                                    <p>Verve, visa and mastercard allowed</p>
                                </span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000" viewBox="0 0 256 256"><path d="M224,48H32A16,16,0,0,0,16,64V192a16,16,0,0,0,16,16H224a16,16,0,0,0,16-16V64A16,16,0,0,0,224,48Zm0,16V88H32V64Zm0,128H32V104H224v88Zm-16-24a8,8,0,0,1-8,8H168a8,8,0,0,1,0-16h32A8,8,0,0,1,208,168Zm-64,0a8,8,0,0,1-8,8H120a8,8,0,0,1,0-16h16A8,8,0,0,1,144,168Z"></path></svg>
                            </div>
                        </div>
                    </label>
                    <label>
                        <div class="bord flex-c gap1">
                            <input type="radio" />
                            <div class="flex-sb-c pm">
                                <span>
                                    <p>Pay Bank Transfer</p>
                                    <p>To use thius hhgyen hsgfsh nduiyu.</p>
                                </span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000" viewBox="0 0 256 256"><path d="M24,104H48v64H32a8,8,0,0,0,0,16H224a8,8,0,0,0,0-16H208V104h24a8,8,0,0,0,4.19-14.81l-104-64a8,8,0,0,0-8.38,0l-104,64A8,8,0,0,0,24,104Zm40,0H96v64H64Zm80,0v64H112V104Zm48,64H160V104h32ZM128,41.39,203.74,88H52.26ZM248,208a8,8,0,0,1-8,8H16a8,8,0,0,1,0-16H240A8,8,0,0,1,248,208Z"></path></svg>
                            </div>
                        </div>
                    </label>
                    <label>
                        <div class="bord flex-c gap1">
                            <input type="radio" />
                            <div class="flex-sb-c pm">
                                <span>
                                    <p>Pay with Crypto</p>
                                    <p>only usdt(BEP20) accepted</p>
                                </span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000" viewBox="0 0 256 256"><path d="M222.29,123.06l-88-112a8,8,0,0,0-12.58,0l-88,112a8,8,0,0,0,0,9.88l88,112a8,8,0,0,0,12.58,0l88-112A8,8,0,0,0,222.29,123.06ZM136,39.13l67.42,85.8L136,155.58ZM120,155.58,52.58,124.93,120,39.13Zm0,17.57v43.72l-53.43-68Zm16,0,53.43-24.29-53.43,68Z"></path></svg>
                            </div>
                        </div>
                    </label>
                    
                </div>
            </div>

            <div class="order-sum">
                <h4>Order Summary</h4>
                <div class="cal">
                    <div class="flex-sb-c">
                        <p>Subtotal</p>
                        <p>₦<%= Number(subtotal).toLocaleString('en-NG') %></p>
                    </div>
                    <div class="flex-sb-c">
                        <p>Shipping Fee</p>
                        <p>₦<%= Number(shippingFee).toLocaleString('en-NG') %></p>
                    </div>
                </div>
                <div class="flex-sb-c">
                    <h4>Total</h4>
                    <h4>₦<%= Number(total).toLocaleString('en-NG') %></h4>
                </div>
                <button type="submit" class="c-button">Confirm Order</button>
                <a href="/cart" class="c-button">Back to cart</a>
            </div>
        </div>
    </form>
</section>



<%- include('partials/footer') %>