<%- include('partials/header') %>

<section class="favourite">
    <div class="fav">
        <h3>My Archieve</h3>
        <div class="fav-center">
            <% for (let i = 0; i < products.length; i++) { %>

                    <div class="item">
                        <div class="item-img">
                            <a href="#" onclick="removeFromWishlist(<%= products[i].id %>); return false;">
                                <div class="greyback"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000" viewBox="0 0 256 256"><path d="M205.66,194.34a8,8,0,0,1-11.32,11.32L128,139.31,61.66,205.66a8,8,0,0,1-11.32-11.32L116.69,128,50.34,61.66A8,8,0,0,1,61.66,50.34L128,116.69l66.34-66.35a8,8,0,0,1,11.32,11.32L139.31,128Z"></path></svg></div>
                            </a>
                            <img src="<%= products[i].image %>"/>
                        </div>
                        <div class="item-footer flex-sb-c">
                            <span>
                                <p><%= products[i].name %></p>
                                <p>₦<%= products[i].price %></p>
                            </span>
                            <a href="#" onclick="openPopup(<%= products[i].id %>); return false;">
                                <div class="gback"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#000000" viewBox="0 0 256 256"><path d="M230.14,58.87A8,8,0,0,0,224,56H62.68L56.6,22.57A8,8,0,0,0,48.73,16H24a8,8,0,0,0,0,16h18L67.56,172.29a24,24,0,0,0,5.33,11.27,28,28,0,1,0,44.4,8.44h45.42A27.75,27.75,0,0,0,160,204a28,28,0,1,0,28-28H91.17a8,8,0,0,1-7.87-6.57L80.13,152h116a24,24,0,0,0,23.61-19.71l12.16-66.86A8,8,0,0,0,230.14,58.87ZM104,204a12,12,0,1,1-12-12A12,12,0,0,1,104,204Zm96,0a12,12,0,1,1-12-12A12,12,0,0,1,200,204Zm4-74.57A8,8,0,0,1,196.1,136H77.22L65.59,72H214.41Z"></path></svg></div>
                            </a>
                        </div>
                    </div>

                <div class="xyz-overlay" id="xyz-overlay<%= products[i].id %>">
                    <div class="xyz-popup">
                        <div class="xyz-header">
                            <h3 class="xyz-title">Select Quantity</h3>
                            <button class="xyz-close" onclick="closePopup(<%= products[i].id %>)">×</button>
                        </div>
                        <% if (variants[i].length === 1 & variants[i][0].size === "") {%>
                                <div class="xyz-size-row">
                                    <div class="xyz-qty-control">
                                        <button class="xyz-qty-btn" onclick="changeQty(this, -1)">-</button>
                                        <span class="xyz-qty-value" data-stock="<%= variants[i][0].stock %>">0</span>
                                        <button class="xyz-qty-btn" onclick="changeQty(this, 1); addToCart(<%= variants[i][0].id %>, 1, <%= variants[i][0].stock %>)">+</button>
                                    </div>
                                </div>
                        <% } else { %>
                                <% variants[i].forEach(variant => { %>
                                    <div class="xyz-size-row">
                                        <span class="xyz-size-name"><%= variant.size %></span>
                                        <div class="xyz-qty-control">
                                            <button class="xyz-qty-btn" onclick="changeQty(this, -1); reduceFromCart(<%= variant.id %>)">-</button>
                                            <span class="xyz-qty-value" data-stock="<%= variant.stock %>">0</span>
                                            <button class="xyz-qty-btn" onclick="changeQty(this, 1); addToCart(<%= variant.id %>, 1, <%= variant.stock %>)">+</button>
                                        </div>
                                    </div>
                                <% }) %>
                        <% } %>
                        <div class="flex-c gap1">
                            <a href="/cart"><button class="xyz-add-btn">View Cart</button></a>
                            <a href="/product"><button class="xyz-add-btn">Continue Shopping</button></a>
                        </div>
                        <!-- <button class="xyz-add-btn" onclick="addToCart(<%= products[i].id %>)">Add to Cart</button> -->
                    </div>
                </div>


            <% } %>
        </div>
    </div>
</section>

<%- include('partials/footer') %>